/* Main page styles */

/*fonts & colours*/
:root {
  /*fonts*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --main-text-color: #212121;
  --content--text-color: #757575;
  --selected-text-color: #2196f3;
  --light-text-color: #ffffff;
  --dark-text-color: #000000;

  /* background colors */
  --main-bg-color: #2f303a;
  --secondary-bg-color: #F5F4FA;
  --button-bg-main-color: #2196f3;
  --button-bg-secondary-color: #f5f4fa;
}

/*main text style*/
body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/*link general style settings*/
.logo,
.header-navigation-link,
.header-contacts-link,
.address-list-link {
  text-decoration: inherit;
  color: inherit;
}

.header-navigation-link:hover,
.header-contacts-link:hover,
.address-list-link:hover {
  color: var(--selected-text-color);
}

.header-contacts-link:focus,
.address-list-link:focus {
  color: var(--selected-text-color);
}

/*button general style settings*/
.front-btn,
.filters-btn {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

/*list style reset*/
.header-navigation-list,
.header-contacts,
.benefits-list,
.activity-list,
.team-list,
.address-list,
.filters-list,
.projects-grid {
  list-style-type: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
}

/*text margins reset*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/*common clases*/
.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


/* Header */
.header {
  display: flex;

  padding-left: 215px;
  padding-right: 215px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ECECEC;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--selected-text-color);
  margin-right: 93px;
}

.dark-text {
  color: var(--dark-text-color);
}

.header-navigation {
  margin-right: auto;
}

.header-navigation-list,
.header-contacts {
  display: flex;
}

.header-navigation-item:not(:last-child),
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation-link,
.header-contacts-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-contacts-link {
  color: var(--content--text-color);
}

/* Front section */
.front {
  background-color: var(--main-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.front-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 30px;
}

.front-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--button-bg-main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-text-color);
}

/* Benefits */
.benefits-list {
  display: flex;
  justify-content: center;
}

.benefits-item {
  flex-basis: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item-title {
  font-weight: 700;
  font-size: inherit;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-item-content {
  line-height: calc(24 / 14);
  color: var(--content--text-color);
}

/* Activity */
.activity-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  justify-content: center;
}

.activity-item-img {
  display: block;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

/* Team */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member-photo {
  margin-bottom: 30px;
}

.team-member-name,
.team-member-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-member-position {
  color: var(--content--text-color);
}

/* Footer */
.footer {
  background-color: var(--main-bg-color);
  padding-left: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.light-text {
  color: var(--light-text-color);
}

.address {
  font-style: inherit;
}

.address-physical {
  line-height: calc(24 / 14);
  color: var(--light-text-color);
  margin-bottom: 9px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio page */
.portfolio {
  padding-right: 215px;
  padding-left: 215px;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters-btn {
  background-color: var(--button-bg-secondary-color);
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: inherit;
  color: inherit;
}

.filters-btn:hover {
  background-color: var(--button-bg-main-color);
  color: var(--light-text-color);
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
}

.projects-grid-item {
  /* border: 1px solid #EEEEEE; */
  flex-basis: calc((100% - 60px) / 3);
}

.project-img {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.project-description {
  padding-left: 24px;
  padding-right: 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-content {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--content--text-color);
}

/* Active page styling */
.active {
  color: var(--selected-text-color);
}
